/* :root {
  --primary-bg: #F5F5F5;
  --secondary-bg: #673AB7;
  --primary-color: #ffffff;
  --secondary-color: #101010;
  --extra-color: #FFC107;
  --extra-color-two: #9daaf2;
  --AccentColor: #795548;
} */